name: Build and deploy docker image for API

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

env:
  IS_MAIN: ${{ github.ref == 'refs/heads/main' }}
  VERSION: 1.0.${{ github.run_number }}

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to registry
        uses: docker/login-action@v2
        # if: ${{ env.IS_MAIN == 'true' }}
        with:
          registry: ${{ secrets.ACR_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v5
        with:
          push: ${{ env.IS_MAIN }}
          tags: kodiak.azurecr.io/fve/solarni-baron:${{env.VERSION}},kodiak.azurecr.io/fve/solarni-baron:latest
          file: ./src/SolarniBaron.Func/Dockerfile
          context: .
          # platforms: linux/amd64,linux/arm64
